---
import ReservationForm from "../reservationForm/ReservationForm.astro";
import SeatsSelection from "../seatsSelection/SeatsSelection.astro";
import Ticket from "../ticket/Ticket.astro";
---

<div class="stepper-container">
  <div class="stepper-item stepper-item-active">
    <div class="stepper-line"></div>
    <div class="stepper-title">Travel info</div>
  </div>

  <div class="stepper-item">
    <div class="stepper-line"></div>
    <div class="stepper-title">Seat selection</div>
  </div>

  <div class="stepper-item">
    <div class="stepper-line"></div>
    <div class="stepper-title">Your ticket</div>
  </div>
</div>

<div class="step-content step-1 step-active">
  <ReservationForm />
</div>
<div class="step-content step-2">
  <SeatsSelection />
</div>
<div class="step-content step-3">
  <Ticket />
</div>

<div class="buttons-container">
  <a id="back-step-button" class="button">Back</a>
  <a id="next-step-button" class="button">Next</a>
</div>

<script>
  const steps = document.querySelectorAll(".step-content");
  const nextButton = document.getElementById("next-step-button");
  const backButton = document.getElementById("back-step-button");

  let currentStep = getStepQueryParams();
  changeStep(currentStep);

  nextButton?.addEventListener("click", () => {
    nextStep();
  });

  backButton?.addEventListener("click", () => {
    prevStep();
  });

  function getStepQueryParams() {
    const queryParams = new URLSearchParams(window.location.search);
    const currentStepQuery = queryParams.get("step");
    return currentStepQuery ? Number(currentStepQuery) : 1;
  }

  function changeStep(currentStep: number) {
    steps.forEach((step, key) => {
      if (key === currentStep - 1) {
        step.classList.add("step-active");
      } else {
        step.classList.remove("step-active");
      }
    });

    history.replaceState(
      { step: currentStep },
      `step-${currentStep}`,
      window.location.pathname + `?step=${currentStep}`,
    );
  }

  function nextStep() {
    if (currentStep === 3) return;
    currentStep++;
    changeStep(currentStep);
  }

  function prevStep() {
    if (currentStep === 1) return;
    currentStep--;
    changeStep(currentStep);
  }
</script>

<style>
  .stepper-container {
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 1rem;
  }

  .stepper-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: var(--black-50);
  }

  .stepper-line {
    width: 100%;
    height: 2px;
    border-radius: 2rem;
    background-color: currentColor;
  }

  .stepper-item-active {
    color: var(--light-blue);
  }

  .step-content {
    display: none;
    align-self: center;
    width: 100%;
  }

  .step-active {
    display: block;
  }

  .buttons-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .button {
    border: 1px solid var(--black-50);
    padding: 0.5rem 2rem;
    cursor: pointer;
    color: var(--white);
    border-radius: 2rem;
    width: fit-content;
    text-align: center;
  }
</style>
