---

---

<section class="contact-container" id="contact">
  <div class="contact-description-container">
    <h2 class="contact-title">Your Exploration Starts Here</h2>
    <p class="contact-description">
      Our mission is to connect you with the wonders of our interstellar camps,
      providing customized experiences for every explorer. Embrace the call of
      the unknown and let the adventure unfold before you.
    </p>
    <div class="contact-divider"></div>
    <div class="contact-info-container">
      <span>+51(014)-413XXX</span>
      <span>info@planetx-adventures.com</span>
    </div>
  </div>
</section>

<style>
  .contact-container {
    background-image: url("../../assets/parking-2-up.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin-top: 4rem;
  }

  .contact-description-container {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-wrap: balance;
    text-align: center;
    padding: 2rem 1rem;
  }

  .contact-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--black);
  }

  .contact-description {
    max-width: 35rem;
    color: var(--black-75);
  }

  .contact-divider {
    max-width: 20rem;
    width: 80%;
    height: 1px;
    background-color: var(--black-50);
  }

  .contact-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 3rem;
    color: var(--black-75);
  }
</style>
