---
import { seatsList } from "../../lib/data";
const seatsLeftSide = seatsList.slice(0, seatsList.length / 2);
const seatsRightSide = seatsList.slice(seatsList.length / 2);
---

<form class="seats-selection-form" id="seats-selection-form">
  <div class="spaceship">
    <div class="cockpit">Rocket</div>

    <div class="seats-selection">
      <div class="seats-exit-signal-container">
        <div class="seats-exit-signal seats-exit-signal-left">Exit</div>
      </div>
      <div class="seats-exit-signal-container">
        <div class="seats-exit-signal seats-exit-signal-right">Exit</div>
      </div>
      <div class="seats-side-container">
        {
          seatsLeftSide.map((seat) => (
            <label class="seat-selector">
              <input
                class="seat-input-radio"
                type="radio"
                name="seat"
                id={seat.code}
                required
                value={seat.code}
                hidden
              />
              <svg
                class="seat-svg"
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M4 18v3h3v-3h10v3h3v-6H4v3m15-8h3v3h-3v-3M2 10h3v3H2v-3m15 3H7V5a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v8Z"
                />
              </svg>
            </label>
          ))
        }
      </div>

      <div class="seats-side-container">
        {
          seatsRightSide.map((seat) => (
            <label class="seat-selector">
              <input
                class="seat-input-radio"
                type="radio"
                name="seat"
                id={seat.code}
                required
                value={seat.code}
                hidden
              />
              <svg
                class="seat-svg"
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M4 18v3h3v-3h10v3h3v-6H4v3m15-8h3v3h-3v-3M2 10h3v3H2v-3m15 3H7V5a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v8Z"
                />
              </svg>
            </label>
          ))
        }
      </div>
    </div>
  </div>

  <div>
    <button
      id="generate-ticket-button"
      class="button button-primary"
      type="submit"
    >
      Generate Ticket
    </button>
    <a id="back-step-button" class="button">Back</a>
  </div>
</form>

<style>
  .seats-selection-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .spaceship {
    max-width: 16rem;
    margin: 0 auto;
    width: 100%;
  }

  .cockpit {
    height: 5rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 0.25rem solid var(--black-50);
    border-radius: 50rem 50rem 0 0;
    display: grid;
    align-items: center;
    color: var(--black);
    font-size: 1.25rem;
  }

  .seats-selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    border: 0.25rem solid var(--black-50);
  }

  .seats-exit-signal-container {
    display: grid;
  }

  .seats-exit-signal {
    background-color: var(--green);
    width: fit-content;
    padding: 0.125rem 0.5rem;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 500;
    margin: 1rem 0;
  }

  .seats-exit-signal-left {
    justify-self: flex-start;
  }

  .seats-exit-signal-right {
    justify-self: flex-end;
  }

  .seats-side-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .seat-input-radio {
    display: none;
  }

  .seat-svg {
    color: var(--black-50);
    transition: color 0.2s;
  }

  .seat-input-radio:checked ~ .seat-svg {
    color: var(--black);
  }

  .seat-selector {
    justify-self: center;
    cursor: pointer;
  }

  .seat-selector:hover .seat-svg {
    color: var(--black);
  }

  .button {
    border: 1px solid var(--black-50);
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    color: var(--black-50);
    border-radius: 2rem;
    width: fit-content;
    text-align: center;
    font-size: 1rem;
  }

  .button-primary {
    background-color: var(--black);
    color: var(--white);
    font-weight: 500;
    border: none;
  }
</style>
