---

---

<header>
  <h1>
    <a href="#home">PlanetX Adventures</a>
  </h1>
  <nav>
    <ul>
      <li>About camp</li>
      <li>Events</li>
      <li>Sign in</li>
    </ul>
  </nav>
</header>

<style>
  header {
    color: white;
    display: none;
    flex-direction: row;
  }

  a {
    color: white;
  }

  a:visited {
    color: white;
  }
</style>
