---
import AnimalCard from "../components/card/AnimalCard.astro";
import Footer from "../components/footer/Footer.astro";
import Header from "../components/header/Header";
import Loader from "../components/loader/Loader.astro";
import SectionIndicator from "../components/sectionIndicator/SectionIndicator.astro";
import Layout from "../layouts/Layout.astro";
import { animals } from "../lib/animals";
---

<Layout title="Discover Animals | PlanetX Adventures">
  <div class="loader-container">
    <Loader />
  </div>
  <div id="app-container" class="loading">
    <Header client:load />
    <main>
      <div class="animals-title-container">
        <h2 class="animals-title">Discover Animals</h2>
      </div>
      <div class="animals-box-container">
        <div class="animals-description-container">
          <h3 class="animals-description-title">Exotic Intergalactic Fauna</h3>
          <p class="animals-description">
            Welcome to the fascinating gallery of creatures you'll encounter at
            our interplanetary camps. Explore the diversity of alien life
            inhabiting the remote corners of distant planets. From curious
            bioluminescent beings to majestic floating creatures, each species
            is unique, inviting you to immerse yourself in a world beyond our
            own.
          </p>
          <p class="animals-description">
            Discover the wonders that await at our camps and get ready for an
            unforgettable experience in the intergalactic wilderness. Welcome to
            a universe of unique adventures and discoveries!
          </p>
        </div>
        <div class="animals-cards-container">
          {
            animals.map((animal) => (
              <AnimalCard
                src={animal.src}
                alt={animal.alt}
                name={animal.name}
              />
            ))
          }
        </div>
        <SectionIndicator
          name="Discover Animals"
          position="left"
          color="var(--black-75)"
        />
      </div>
    </main>
    <Footer />
  </div>
</Layout>

<script>
  const loaderContainer = document.querySelector(
    ".loader-container",
  ) as HTMLDivElement;
  const appContainer = document.getElementById("app-container");

  const heroSection = document.querySelector(".animals-title-container");

  if (heroSection) {
    const backgroundImage = new Image();
    backgroundImage.src = getComputedStyle(heroSection).backgroundImage.replace(
      /url\((['"])?(.*?)\1\)/gi,
      "$2",
    );

    backgroundImage.addEventListener("load", () => {
      loaderContainer?.classList.add("loader-container-hide");
      loaderContainer?.addEventListener("transitionend", () => {
        loaderContainer?.classList.add("loader-container-hide-z-index");
      });
      appContainer?.classList.remove("loading");
      appContainer?.classList.add("loaded");
    });
  }
</script>

<style>
  .app {
    display: none;
  }

  .loaded {
    display: block;
  }

  .loader-container {
    height: 100vh;
    width: 100%;
    background-color: var(--dark-blue);
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 3;
    transition: opacity 0.5s;
  }

  .loader-container-hide {
    opacity: 0;
  }

  .loader-container-hide-z-index {
    z-index: -1;
  }

  .animals-title-container {
    display: grid;
    place-items: center;
    background-image: url("../assets/animals-bg-up.jpg");
    min-height: 15rem;
    background-position: bottom 30% left 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .animals-title {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
  }

  .animals-box-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    max-width: 25rem;
    margin: 0 auto;
  }

  .animals-description-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .animals-description-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--black);
  }

  .animals-description {
    font-size: 1rem;
    color: var(--black);
  }

  .animals-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2rem;
  }

  main {
    max-width: 1440px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    .animals-box-container {
      padding: 2rem 1rem;
      gap: 2rem;
    }
    .animals-title-container {
      min-height: 20rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .animals-box-container {
      padding: 2rem 8rem;
      max-width: 1280px;
    }
  }
</style>
