---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/Header";
import HeroSection from "../components/heroSection/HeroSection.astro";
import AboutSection from "../components/aboutSection/AboutSection.astro";
import EventsSection from "../components/eventsSection/EventsSection.astro";
---

<Layout title="Welcome to Astro.">
  <Header client:load />
  <main>
    <HeroSection />
    <AboutSection />
    <EventsSection />
  </main>
</Layout>

<style></style>
