---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/Header";
import HeroSection from "../components/composite/HeroSection.astro";
---

<Layout title="Welcome to Astro.">
  <Header client:visible />
  <main>
    <HeroSection />
  </main>
</Layout>

<style></style>
