---
import CampingSpots from "./CampingSpots.astro";
---

<section class="about-container" id="about">
  <CampingSpots />
</section>

<style>
  .about-container {
    background-color: #0b0e16;
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: row;
  }
</style>
