---
import CampingSpots from "./CampingSpots.astro";
import DiscoverWildlife from "./DiscoverWildlife.astro";
---

<section class="about-container" id="about">
  <CampingSpots />
  <DiscoverWildlife />
</section>

<style>
  .about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
</style>
