---
import { Image } from "astro:assets";
import campingImage1 from "../../assets/camping-spot-1.jpg";
import campingImage2 from "../../assets/camping-spot-2.jpg";
import TentSvg from "../icons/tent/TentSvg.astro";
import CampingMap from "../map/CampingMap";
import SectionIndicator from "../sectionIndicator/SectionIndicator.astro";
---

<div class="camping-spots-background">
  <div class="camping-spots-container">
    <div class="camping-spots-description-container">
      <TentSvg color="var(--black-50)" width="44" height="44" />
      <h2 class="camping-spots-title">Explore Special Camping Spots</h2>
      <p class="camping-spots-description">
        Embark on an extraordinary odyssey of cosmic exploration as you venture
        into the heart of uncharted frontiers with our interstellar camp
        experiences.
      </p>
      <p class="camping-spots-description">
        Whether you're a seasoned spacefarer or new to the wonders of off-world
        camping, our expert guides will navigate you through a journey of cosmic
        revelation, imparting their wisdom of extraterrestrial landscapes,
        celestial phenomena, and interplanetary survival techniques. Prepare to
        cultivate new connections, ignite your thirst for cosmic adventure, and
        craft enduring memories amid the infinite wonders of the cosmos.
      </p>
      <div class="camping-spots-images-container">
        <Image
          src={campingImage1}
          alt="Camping spot 1"
          width="120"
          height="120"
          class="camping-image"
        />
        <Image
          src={campingImage2}
          alt="Camping spot 2"
          width="120"
          height="120"
          class="camping-image"
        />
      </div>
    </div>
    <CampingMap client:only />
    <SectionIndicator name="Explore special camping spots" position="right" />
  </div>
</div>

<style>
  .camping-spots-background {
    background-color: var(--dark-blue);
  }

  .camping-spots-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 25rem;
    margin: 5rem auto;
    position: relative;
    padding: 0 1rem;
  }

  .camping-spots-title {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 500;
  }

  .camping-spots-description-container {
    color: var(--black-25);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .camping-spots-images-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  .camping-image {
    flex: 1;
    object-fit: cover;
    height: 100%;
  }

  @media screen and (min-width: 1024px) {
    .camping-spots-container {
      flex-direction: row-reverse;
      max-width: 1280px;
      align-items: center;
      justify-content: center;
      padding: 2rem 8rem;
      gap: 6rem;
    }

    .camping-spots-description-container {
      flex: 1;
    }

    .camping-image {
      flex: 0;
      width: 150px;
      height: 150px;
    }
  }
</style>
